.DS_Store
datasets/mnist/
datasets/tinyshakespeare/data.npy
datasets/tinyshakespeare/vocab.pkl
logs/
save/
scratch/
a3c*
movies/*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
