.DS_Store
datasets/mnist/
datasets/tinyshakespeare/data.npy
datasets/tinyshakespeare/vocab.pkl
logs/
save/
scratch/
movies/*.json
draw*
figs/draw/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
